<!--The content below is only a placeholder and can be replaced.-->
<mat-card>
    <mat-card-title>Contact FormArray</mat-card-title>
  <form novalidate [formGroup]="basicDetailsForm">
    <div formArrayName="contacts">
      <div *ngFor="let contact of basicDetailsForm.controls.contacts.controls; let i= index">
        <div [formGroupName]="i">
          <mat-form-field class="input--large">
            <input matInput type="text" (keypress)="keyPress($event)" placeholder="Contact #" formControlName="contactNumber"
              minlength="10" maxlength="10">
            <span matPrefix>+91-</span>
            <mat-hint *ngIf="basicDetailsForm.controls.contacts.controls[i].controls.contactNumber.errors && (basicDetailsForm.controls.contacts.controls[i].controls.contactNumber.dirty || basicDetailsForm.controls.contacts.controls[i].controls.contactNumber.touched)">Please
              enter contact Number </mat-hint>
          </mat-form-field>
          <mat-form-field class="input--small">
            <mat-select placeholder="Type" formControlName="numberType" required>
              <mat-option *ngFor="let contactNumber of contactNumbers" [value]="contactNumber">
                {{ contactNumber | titlecase}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <button mat-icon-button color="primary" (click)="addContacts()" [disabled]="basicDetailsForm.invalid" matTooltip="Add Contact"><mat-icon>add</mat-icon></button>
          <button mat-icon-button color="warn" *ngIf="basicDetailsForm.controls.contacts.controls.length > 1"
            (click)="deleteContacts(i)">
            <mat-icon class="action-icon action-icon--delete">delete</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </form>
</mat-card>